@media screen and (max-width: 900px) {

    .header_wrapper{
        height: 500px;
    }

/*            about           */

.card-group .circle{
    margin-left: 100px;
}

.timeline-items::before{
    left: 35px;
    height: 95%;
}
.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
    padding-left: 37px;
}
.timeline-dot{
    height: 90px;
    width: 90px;
    left: -10px;
}
.timeline-item{
    width: 400px;
}
.right{
    position: relative;
    right: -50px;
}
.left{
    position: relative;
    left: 50px;
}
.timeline-content{
	height: 200px;
    width: 250px;
}
.timeline-content h3{
    font-size: 15px;
}
.timeline-content p{
	font-size: 15px;
}

.timeline-dot h4{
	position: relative;
    top: 15px;
    font-size: 15px;
}

}